html, body {
  height: 100%;
  background-color: lightblue;
  font-size:62.5%(10/16*100%)
}

.box {
  margin: auto;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  width: 500rem/16;
  height: 750rem/16;
  background-color: #ffffff;
  >p{
    text-align: center;
    font-size: 30rem/16;
    color: #ffb3da;
    margin: 0;
  }
  .top-box {
    width: 247rem/16;
    height: 260rem/16;
    .ear {
      background-color: #ffb3da;
      width: 30rem/16;
      height: 55rem/16;
      transform: rotate(10deg);
      border: 6rem/16 solid #ec98c2;
      border-radius: 100% 100% 100% 100% ~'/' 80% 80% 100% 100%;
      display: inline-block;
      position: relative;
      position: relative;
      left: 254rem/16;
      //top: 30rem/16;
      margin-top: 60rem/16;
    }
    .left-ear {
      margin-right: 5rem/16;
    }
    .right-ear {
      top: 29rem/16;
      transform: rotate(34deg);
    }
    .head-box {
      width: 245rem/16;
      height: 245rem/16;
      position: relative;
      left: 102rem/16;
      top: -26rem/16;
      .nose {
        width: 255rem/16;
        height: 97rem/16;
        transform: rotate(20deg);
        background-color: #ffb3da;
        border: 6rem/16 solid #ec98c2;
        border-radius: 100% 77% 87% 59% ~'/' 108% 100% 100% 80%;
        > div {
          width: 42rem/16;
          height: 60rem/16;
          background-color: #ffb3da;
          border: 6rem/16 solid #ec98c2;
          transform: rotate(20deg);
          border-radius: 100% 100% 100% 100% ~'/' 100% 100% 100% 100%;
          position: relative;
          top: 15rem/16;
          left: -6rem/16;
          > div {
            transform: rotate(-21deg);
            > div {
              width: 12rem/16;
              height: 12rem/16;
              background-color: #db6d9b;
              border-radius: 100%;
              display: inline-block;
              position: relative;
              top: 14rem/16;
              left: -1rem/16;
            }
          }
        }
      }
      .face {
        width: 184rem/16;
        height: 162rem/16;
        transform: rotate(14deg);
        background-color: #ffb3da;
        border: 6rem/16 solid #ec98c2;
        border-radius: 22% 31% 80% 72% ~'/' 79% 74% 100% 105%;
        position: relative;
        top: -67rem/16;
        left: 61rem/16;
        .shadow {
          width: 175rem/16;
          height: 92rem/16;
          background-color: #ffb3da;
          position: relative;
          top: -17rem/16;
          left: -6rem/16;
          border-radius: 53% 62% 123% 50%;
        }
        .eye {
          position: relative;
          left: 4rem/16;
          top: -111rem/16;
          transform: rotate(7deg);
          > div {
            width: 28rem/16;
            height: 28rem/16;
            background-color: #ffffff;
            border: 6rem/16 solid #ec98c2;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            > div {
              width: 12rem/16;
              height: 12rem/16;
              background-color: #000000;
              border-radius: 100%;
              position: relative;
              left: -1rem/16;
              top: 8rem/16;
            }
          }
        }
        .blush {
          width: 49rem/16;
          height: 60rem/16;
          background-color: #fe96ce;
          transform: rotate(18deg);
          border-radius: 100%;
          position: relative;
          top: -119rem/16;
          left: 118rem/16;
        }
        .mouse {
          position: relative;
          top: -105rem/16;
          left: 17rem/16;
          > div {
            &:nth-child(1) {
              width: 92rem/16;
              height: 27rem/16;
              background-color: black;
              border: 6rem/16 solid #d44c80;
              border-radius: 0 0 60% 60% ~'/' 0 0 100% 100%;
            }
            &:nth-child(2) {
              width: 92rem/16;
              height: 13rem/16;
              background-color: #ffb3da;
              border: 6rem/16 solid #d44c80;
              border-radius: 0 0 123% 124% ~'/' 0 0 200% 200%;
              position: relative;
              top: -40rem/16;
              left: 0rem/16;
              border-top: none;
            }
          }
        }
      }

    }
  }
  .body-box {
    > .body {
      width: 224rem/16;
      height: 180rem/16;
      background-color: #eb5b50;
      border: 6rem/16 solid #e13c32;
      border-radius: 50% 50% 0 0 ~'/' 100% 100% 0 0;
      position: relative;
      top: -30rem/16;
      left: 136rem/16;
      z-index: -1;
    }
    .left-hand {
      position: relative;
      display: inline-block;
      top: 70rem/16;
      left: 94rem/16;
      z-index: -30;
      > div {
        &:nth-child(1) {
          width: 24rem/16;
          height: 10rem/16;
          background-color: #ffb3da;
          border-radius: 100% 100% 100% 100% ~'/' 100% 100% 100% 100%;
          position: relative;
          top: 10rem/16;
          left: 2rem/16;
        }
        &:nth-child(2) {
          width: 79rem/16;
          height: 12rem/16;
          transform: rotate(-20deg);
          background-color: #ffb3da;
          border-radius: 101% 100% 100% 52% ~'/' 55% 100% 100% 90%;
          position: relative;
          top: 0;
          left: 0;
        }
        &:nth-child(3) {
          width: 21rem/16;
          height: 10rem/16;
          transform: rotate(-51deg);
          background-color: #ffb3da;
          border-radius: 100% 100% 100% 100% ~'/' 100% 100% 100% 100%;
          position: relative;
          top: 5rem/16;
          left: 12rem/16;
        }
      }
    }
    .right-hand {
      position: relative;
      display: inline-block;
      top: 63rem/16;
      left: 241rem/16;
      z-index: -30;
      transform: rotate(226deg);
      > div {
        &:nth-child(1) {
          width: 24rem/16;
          height: 10rem/16;
          background-color: #ffb3da;
          border-radius: 100% 100% 100% 100% ~'/' 100% 100% 100% 100%;
          position: relative;
          top: 10rem/16;
          left: 2rem/16;
        }
        &:nth-child(2) {
          width: 79rem/16;
          height: 12rem/16;
          transform: rotate(-20deg);
          background-color: #ffb3da;
          border-radius: 101% 100% 100% 52% ~'/' 55% 100% 100% 90%;
          position: relative;
          top: 0;
          left: 0;
        }
        &:nth-child(3) {
          width: 21rem/16;
          height: 10rem/16;
          transform: rotate(-51deg);
          background-color: #ffb3da;
          border-radius: 100% 100% 100% 100% ~'/' 100% 100% 100% 100%;
          position: relative;
          top: 5rem/16;
          left: 12rem/16;
        }
      }
    }
    .tail{
      position: relative;
      display: inline-block;
      top: -102rem/16;
      left: 365rem/16;
      z-index: -30;
      >div{
        display: inline-block;
        &:nth-child(1){
          width: 25rem/16;
          height: 10rem/16;
          background-color: #ffb3da;
          border-radius: 100% 92% 80% 99% ~'/' 100% 92% 80% 99%;
        }
        &:nth-child(2){
          width: 10rem/16;
          height: 13rem/16;
          border-radius: 70% 92% 56% 74% ~'/' 63% 86% 75% 75%;
          border: 10rem/16 solid #ffb3da;
          background-color: #ffffff;
          position: relative;
          left: -21rem/16;
          top: 0rem/16;
        }
        &:nth-child(3){
          width: 12rem/16;
          height: 12rem/16;
          border-radius: 100% 44% 99% 74% ~'/' 100% 92% 100% 75%;
          border: 10rem/16 solid #ffb3da;
          background-color: #ffffff;
          position: relative;
          top: 1rem/16;
          left: -37rem/16;
          border-top: none;
          border-left: none;
          transform: rotate(95deg);
        }
      }
    }
  }
  .foot-box{
    display: inline-block;
    position: relative;
    top: -68rem/16;
    left: 200rem/16;
    >.left-foot,.right-foot{
      display: inline-block;
      margin-right: 50rem/16;
      >div{
        &:nth-child(1){
          width: 10rem/16;
          height: 60rem/16;
          background-color: #ffb3da;
          border-radius: 30% 30%;
        }
        &:nth-child(2){
          width: 42rem/16;
          height: 13rem/16;
          background-color: #000000;
          border-radius: 60% 100% 100% 60% ~'/' 100% 100% 100% 100%;
          position: relative;
          left: -30rem/16;
          top: -6rem/16;
        }
      }
    }
    >.floor{
      width: 240rem/16;
      height: 50rem/16;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      position: relative;
      top: -39rem/16;
      z-index: -99;
      left: -78rem/16;
    }
  }
}